.container > svg {
  height: calc(100vh - 4rem);
  max-width: 100%;
  stroke: #aaa;
  stroke-width: 1;
  position: absolute;
  top: 4rem;
  bottom: 0;
  right: 0;
}

.container > svg > path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 10s ease-in forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.shadow > svg {
  height: calc(100vh - 4rem);
  max-width: 100%;

  position: absolute;
  stroke: #aaa;
  stroke-width: 2;
  filter: blur(5px);
  top: 4rem;

  bottom: 0;
  right: 0rem;
}

.shadow > svg > path {
  animation: appear 1s 10s ease-out forwards;
  opacity: 0;
  transform: translateX(0rem);
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (width < 415px) {
  .container > svg,
  .shadow > svg {
    top: 0rem;
  }
}
