.container {
  padding: 5rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.card {
  border-radius: 15px;
  max-width: 700px;
  min-width: 150px;
  width: 100%;
  background: linear-gradient(160deg, #0ae448 50%, #0085d0 110%);
  height: 100%;
  align-self: center;
  box-shadow: 0 0 10px gray;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 2rem;
  padding-top: 0;
  flex-shrink: 1;
}

.actions {
  display: flex;
  text-align: center;
  gap: 3rem;
}

.actions > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

/* MEDIA QUERIES */

@media (width < 1100px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (width < 470px) {
  .actions {
    gap: 1rem;
  }
}
