.container {
  cursor: pointer;
  position: relative;
  /* margin-right: 5rem; */
}

.menu_box {
  margin-top: 0.25rem;
  width: 140px;
  position: absolute;
  /* top: 0;
  left: 3rem; */
  /* margin-top: 0.5rem; */
  top: 2rem;
  right: -3rem;
  outline: 1px solid var(--grey);
  /* outline: 1px solid #e4e4e7; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.menu_box > * {
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  flex: 1;
}

/* DARK MODE */

.dark_theme .menu_box {
  /* background-color: #333; */
  background-color: var(--background-color-dark);
}
