.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 5.2rem;
  height: 2rem;
  overflow: hidden;
}

/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  border: 1px solid #333;
  left: 0.4rem;
  bottom: 0.2rem;
  /* background-color: var(--white); */
  background-color: hsl(0, 0%, 90%);
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: hsl(0, 0%, 90%); */
  background-color: var(--background2-color-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px #0ae448;
}

input:checked + .slider:before {
  transform: translateX(3rem);
  background-color: var(--white);
  border: 1px solid #aaa;
}

.switch .text {
  position: absolute;
  top: 50%;
  pointer-events: none;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.4s;
}

.switch .text.on {
  left: 0.8rem;
  transform: translateX(-3rem) translateY(-50%);
  opacity: 1;
}

.switch .text.off {
  color: var(--dark_black);
  /* color: white; */
  right: 0.8rem;
  opacity: 0;
}

input:checked ~ .text.on {
  transform: translateX(0) translateY(-50%);
  opacity: 1;
}

input:checked ~ .text.off {
  /* transform: translateX(3rem) translateY(-50%); */
  opacity: 0;
}

input:not(:checked) ~ .text.on {
  visibility: hidden;
}

input:not(:checked) ~ .text.off {
  opacity: 1;
}
