.contact_btn {
  font-size: 0.8em;
  color: var(--dark_black);
  height: 40px;
  padding: 10px 25px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid var(--grey);
  cursor: pointer;
  border-radius: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_btn:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 var(--dark_black);
}

.contact_btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 var(--dark_black);
}
