.container {
  padding: 8rem 6rem;
  padding-top: 8rem;
}

.title {
  font-size: clamp(2rem, 3vw, 3rem);
  margin-top: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* MEDIA QUERIES */

@media (width < 1205px) {
  .title {
    text-align: center;
  }
}

@media (width < 1100px) {
  .container {
    padding: 4rem 0rem;
  }
}
