.container {
  padding: 1rem 6rem;
  padding-top: 8rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 8rem - 1rem);
  gap: 2rem;
}

.sub_container {
  display: inline;
}

.greeting {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.title {
  font-size: 5rem;
  margin: 0;
}

.i_make {
  color: var(--soft_black);
  font-size: 1.2rem;
}

.scrool_down {
  margin-top: 2rem;
  background-color: var(--white);
  color: var(--dark_black);
  border-radius: 10rem;
  width: 130px;
  font-size: 17px;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--dark_black);
  box-shadow: 0 0 0 0 var(--dark_black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.scrool_down:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 var(--dark_black);
}

.scrool_down:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 var(--dark_black);
}
