.container {
  cursor: pointer;
  position: relative;
}

.hamburger {
  transition: opacity 0.3s ease-in-out;
  font-size: 2.5rem;
}

.close {
  transition: opacity 0.3s ease-in-out;
  font-size: 2rem;
}

.menu_box {
  margin-top: 1rem;
  position: absolute;
  top: 2rem;
  right: 0rem;
  outline: 1px solid var(--grey);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.menu_box > * {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex: 1;
}

/* DARK MODE */

.dark_theme .menu_box {
  background-color: var(--background-color-dark);
}
