.container {
  display: flex;
  gap: 2rem;
}

.img_container {
  background-color: var(--primary-color);
  height: 35rem;
  width: 35rem;
  min-height: 35rem;
  min-width: 35rem;
}

.title {
  font-size: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tags {
  display: flex;
  gap: 1rem;
}

.tags > div {
  background-color: gray;
  padding: 0.3rem 0.6rem;
  color: white;
  border-radius: 5px;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actions > * {
  background-color: var(--primary-color);
  border: none;
  /*padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem; */
}
