.container {
  border-radius: 5px;
  margin: 0 6rem;
  background: linear-gradient(to right, var(--super_dark_oranged), var(--soft_oranged));
  background-color: var(--soft_oranged);
  /* background: linear-gradient(166.9deg, var(--super_dark_oranged) 53.19%, var(--soft_oranged) 107.69%); */
  height: 100%;
}

/* 
 --super_dark_oranged: #ff5a02;
  --dark_oranged: #fa6901;
  --soft_oranged: #ff8e3d;

  --grey: #dedfde;
  --white: #ffffff;

*/

.lets_discuss {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.phrase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  font-weight: bold;
}

.anchors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}

.reach,
.discover {
  font-size: 1.2rem;
}

.call_to_action {
  padding: 20px 30px;
  border: 1px solid var(--super_dark_oranged);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: var(--super_dark_oranged);
  text-align: center;
}

.call_to_action_hover {
  width: 100%;
  height: 100%;
  background-color: var(--dark_oranged);
  border: 1px solid var(--dark_oranged);
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s;
  border-radius: 5px;
}

.call_to_action:hover .call_to_action_hover {
  transform: scaleY(1);
  transform-origin: bottom center;
  border-radius: 5px;
}

.text {
  width: 100%;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.2s;
}

.call_to_action:hover .text {
  color: var(--dark_black);
  border-radius: 5px;
}

.email,
.git_hub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
