.container {
  /* outline: 1px solid red; */
  padding: 3rem 6rem;
  padding: 5rem 6rem;
}

.title {
  padding-top: 0;

  font-size: 3rem;
}

.skills {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.skills > div {
  font-size: 1.4rem;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1rem;
  gap: 0.25rem;
  position: relative;

  color: gray;
  background-color: #eee;

  color: rgb(209, 209, 209);
  background-color: #333;
}

.skills > div > svg {
  position: absolute;
  bottom: 100%;
  font-size: 2rem;
  animation: float 1s ease-in-out infinite alternate-reverse;
  will-change: transform;
}

@keyframes float {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(-0.75rem);
  }
}
